<div class="py-5">
  <%= form_for @company do |f| %>

    <div class="row my-lg-3">
      <div class="col-lg-4">
        <label><strong>Name</strong><br><small class="text-muted">The public DBA, or Common name of the organization</small></label>
      </div>
      <div class="col-lg offset-lg-1">
        <div class="form-group">
          <%= f.text_field :name, class: "form-control", placeholder: "Company Name", required: true %>
        </div>
      </div>
    </div>


    <div class="row my-lg-3">
      <div class="col-lg-4">
        <label><strong>Zip Code</strong><br><small class="text-muted">5 Digit US postal code</small></label>
      </div>
      <div class="col-lg offset-lg-1">
        <div class="form-group">
          <%= f.text_field :zip_code, class: "form-control", placeholder: "93003", required: true %>
        </div>
      </div>
    </div>

    <div class="row my-lg-3">
      <div class="col-lg-4">
        <label><strong>Phone</strong><br><small class="text-muted">Shown in marketing</small></label>
      </div>
      <div class="col-lg offset-lg-1">
        <div class="form-group">
          <%= f.text_field :phone, class: "form-control", placeholder: "555-555-5555"%>
        </div>
      </div>
    </div>

    <div class="row my-lg-3">
      <div class="col-lg-4">
        <label><strong>Email</strong><br><small class="text-muted">Shown in marketing</small></label>
      </div>
      <div class="col-lg offset-lg-1">
        <div class="form-group">
          <%= f.text_field :email, class: "form-control", placeholder: "hello@company.com"%>
        </div>
      </div>
    </div>


    <div class="row my-lg-3">
      <div class="col">
        <div class="form-group">
          <%= f.submit class: "btn btn-success"%>
        </div>
      </div>
    </div>
  <% end %>
</div>
