<div class="container py-5" data-controller="colorpicker">
  <h3>Company</h3>
  <div class="row">
    <div class="col">
      <%= link_to "< Companies", companies_path %>
    </div>
    <div class="col text-right">
      Brand Color: 
      <%= color_field_tag :brand_color, @company.brand_color, data: { target: 'colorpicker.colorWell' } %>
      <%= link_to "Edit", edit_company_path %>
      <%= link_to 'Delete', @company, method: :delete, data: { confirm: 'Are you sure?' } %>
    </div>
  </div>
  <div class="bg-success" data-target='colorpicker.colorElement'>
    <div class="container p-5 text-white">
      <h1><%= @company.name %></h1>
      <% if @company.zip_code? %>
        <h3><%= @company.city %>, <%= @company.state %></h3>
      <% end %>
    </div>
  </div>

  <div class="row bg-light">
    <div class="col-12 col-lg-8 p-lg-5 pt-4">
      <%= @company.description %>
    </div>
    <div class="col-12 col-lg-4 pt-lg-5">
      <h4>Services</h4>
      <% @company.services.reject(&:blank?).each do |service| %>
        <p><%= service %></p>
      <% end %>
      <h4>Contact</h4>
        <div class="form-group" data-controller="clipboard">
          <p><%= @company.phone %><br>
          <input type="hidden" value="<%= @company.phone %>" data-target="clipboard.source"></input>
          <a data-action="clipboard#copy" class="clipboard-button pointer text-decoration-none text-dark"> copy</a>
          <a data-target="clipboard.notice" class="clipboard-button pointer d-none text-decoration-none text-dark" class="d-none"> copied</a> 
          </p>         
        </div>
    </div>
  </div>

  <div class="bg-success text-white text-center py-3" data-target='colorpicker.colorElement'>
    <p class="lead"><%= @company.phone %> — <%= @company.email %></p>
  </div>
</div>
