<div class="container py-5">
    <h3>Company</h3>
    <div class="row my-2">
        <div class="col-8">
            <%= link_to "Back", companies_path, class: "btn btn-primary" %>
        </div>
        <div class="col-2 text-right">
            <%= link_to "Edit", edit_company_path, class: "btn btn-primary" %>
        </div>
        <div class="col-2 text-right">
            <%= link_to 'Delete', @company, method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-primary" %>
        </div>
    </div>
    <div style="background-color:<%= @company.color%>">
        <div class="container p-5 text-white">
            <h1><%= @company.name %></h1>
            <div class="d-flex">
                <% if @company.city %>
                <h3><mark><%= @company.city %>,</mark></h3>
                <% end %>
                <% if @company.state %>
                <h3><mark><%= @company.state %></mark></h3>
                <% end %>
            </div>
        </div>
    </div>

    <div class="row bg-light">
        <div class="col-12 col-lg-8 p-lg-5 pt-4">
            <%= @company.description %>
        </div>
        <div class="col-12 col-lg-4 pt-lg-5">
            <h4>Services</h4>
            <% @company.services.reject(&:blank?).each do |service| %>
            <p><%= service %></p>
            <% end %>
            <h4>Contact</h4>
            <div class="form-group" data-controller="clipboard">
                <p><%= @company.phone %><br>
                    <input type="hidden" value="<%= @company.phone %>" data-target="clipboard.source"></input>
                    <a data-action="clipboard#copy" class="clipboard-button pointer text-decoration-none text-dark"> copy</a>
                    <a data-target="clipboard.notice" class="clipboard-button pointer d-none text-decoration-none text-dark" class="d-none"> copied</a>
                </p>
            </div>
        </div>
    </div>

    <div style="background-color:<%= @company.color%>" class="text-white text-center py-3">
        <p class="lead"><%= @company.phone %> — <%= @company.email %></p>
    </div>
</div>