<div class="container py-5">
  <h3>Company</h3>
  <div class="row">
    <div class="col">
      <%= link_to "< Companies", companies_path %>
    </div>
    <div class="col text-right mb-2">
      <%= link_to "Edit", edit_company_path, class: 'btn btn-primary' %>
      <%= link_to 'Delete', company_path(@company), method: :delete, class: 'btn btn-danger', data: { confirm: 'Are you sure?' } %>
    </div>
  </div>
  <div class="bg-success">
    <div class="container p-5 text-white">
      <h1><%= @company.name %></h1>
      <h3><%= @company.address %></h3>
    </div>
  </div>
  <% if @company.description.present? %>
    <div class="bg-light p-5">
      <%= @company.description %>
    </div>
  <% end %>
  <div class="bg-success text-white text-center py-3">
    <p class="lead"><%= @company.phone %> — <%= @company.email %></p>
  </div>
</div>
