<!DOCTYPE html>
<html>
  <head>
    <title>CodeChallenge</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>

  <body>
    <%= render 'shared/notices' %>
    <%= yield %>
    <div class="fixed-bottom bg-light">
    <div class="container py-3">
      <%= link_to "Home", root_path, class: "mr-5"  %>
      <%= link_to "Companies", companies_path, class: "mr-5" %>
    </div>
    </div>
  </body>
</html>
